<section class="covers" id="covers">
  <div class="container">
    <!-- <h2>Covers</h2> -->
    <div class="content">
      <div class="marquee">
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img src="../img/covers/project-1.png" alt="" />
          </li>
          <li class="marquee__line">
            <img src="../img/covers/project-2.png" alt="" />
          </li>
          <li class="marquee__line">
            <img src="../img/covers/project-3.png" alt="" />
          </li>
          <li class="marquee__line">
            <img src="../img/covers/project-4.png" alt="" />
          </li>
          <li class="marquee__line">
            <img src="../img/covers/project-5.png" alt="" />
          </li>
          <li class="marquee__line">
            <img src="../img/covers/project-6.png" alt="" />
          </li>
          <li class="marquee__line">
            <img src="../img/covers/project-7.png" alt="" />
          </li>
          <li class="marquee__line">
            <img src="../img/covers/project-8.png" alt="" />
          </li>
          <li class="marquee__line">
            <img src="../img/covers/project-9.png" alt="" />
          </li>
          <li class="marquee__line">
            <img src="../img/covers/project-10.png" alt="" />
          </li>
        </ul>
        <!-- <div class="marquee__inner">
          <p class="marquee__line">Project 1</p>
          <p class="marquee__line">Project 2</p>
          <p class="marquee__line">Project 3</p>
          <p class="marquee__line">Project 4</p>
          <p class="marquee__line">Project 5</p>
          <p class="marquee__line">Project 6</p>
          <p class="marquee__line">Project 7</p>
          <p class="marquee__line">Project 8</p>
        </div>
        <div class="marquee__inner">
          <p class="marquee__line">Project 1</p>
          <p class="marquee__line">Project 2</p>
          <p class="marquee__line">Project 3</p>
          <p class="marquee__line">Project 4</p>
          <p class="marquee__line">Project 5</p>
          <p class="marquee__line">Project 6</p>
          <p class="marquee__line">Project 7</p>
          <p class="marquee__line">Project 8</p>
        </div> -->
      </div>
    </div>
  </div>
</section>
