:root {
  font-family: 'Inter Tight', sans-serif;
  background-color: black;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}
