.covers {
  background-image: url('../img/covers/background.png');
  background-size: cover;
  background-position: center;

  /* min-height: 100vh; */
  /* max-width: 375px; */
  /* max-height: 768px; */
  /* width: 375px; */
  /* position: relative; */
  /* height: 508px; */
  /* overflow: hidden; */
}

.content {
  /* position: relative; */
  width: 375px;
}

.covers__container {
  /* position: relative; */
  /* overflow: hidden; */
  /* height: 100vh; */
  height: 508px;
  overflow: hidden;
  position: relative;

  /* border: 2px solid orange;  */
  /* Виділяємо межі для наочності */

  /* background-image: url('../img/covers/background.png'); */
  /* background-size: cover; */
  /* background-position: center; */
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .covers {
    background-image: url('../img/covers/background@2x.png');
  }

  .covers__container {
    /* background-image: url('../img/covers/background@2x.png'); */
  }
}

@media screen and (max-width: 319px) {
  .covers {
    background-image: none;
  }

  .covers__container {
    background-image: url('../img/covers/background.png');
    background-size: cover;
    background-position: center;
  }
}

.marquee__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 1200px;
  position: absolute;
  transform: rotate(16deg);
  left: 0;
}

.marquee__line {
  width: calc((100% - 3 * 20px) / 4);
  transform: translateX(-70%);
}

.marquee__line:nth-child(5),
.marquee__line:nth-child(12) {
  /* border: 2px solid red; */
  margin-left: 150px;
}

.marquee__inner.animation .marquee__line {
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.marquee__inner.animation-loop .marquee__line {
  animation-name: scrollAnimation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee__line img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

@keyframes scrollAnimation {
  from {
    transform: translateX(-70%);
  }
  to {
    transform: translateX(-150%);
  }
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}

@media only screen and (min-width: 768px) {
  .covers__container {
    height: 960px;
  }

  .marquee__inner {
    width: 1600px;
  }
}

@media only screen and (min-width: 1440px) {
  .marquee__inner {
    width: 2200px;
  }

  .marquee__line {
    width: calc((100% - 4 * 20px) / 5);
  }

  .marquee__line:nth-child(5),
  .marquee__line:nth-child(12) {
    /* border: 2px solid red; */
    margin-left: 0px;
  }

  .marquee__line:nth-child(6),
  .marquee__line:nth-child(14) {
    /* border: 2px solid red; */
    margin-left: 150px;
  }

  @keyframes scrollAnimation {
    from {
      transform: translateX(-30%);
    }
    to {
      transform: translateX(-140%);
    }
  }
}
